<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


      <iron-ajax id="hacerLogin"
                 url="http://localhost:3000/api-uruguay/v1/login"
                 method="POST"
                 body={{formData}}
                 content-type="application/json"
                 handle-as="json"
                 on-response="mostrarResultadoLogin"
                 on-error="mostrarErrorLogin">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
                 url="http://localhost:3000/api-uruguay/v1/logout"
                 method="POST"
                 body={{formData}}
                 content-type="application/json"
                 handle-as="json"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarErrorLogout">
      </iron-ajax>

      <div>
          <br>
          <br>
          <input type="email" value={{email::input}} placeholder="email"/>
          <input type="password" value={{password::input}} placeholder="password"/>
          <button on-click="logar">Login</button>

          <button on-click="deslogar">Logout</button>

      </div>

        <span>[[id]]</span>

      <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
      <span hidden$="{{!datosincorrectos}}">Alguno de los datos ingresados es incorrecto</span>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          datosincorrectos: {
            type: Boolean,
            value: false
          },
          id: {
            type: Number,
          }
        };
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log("ACA ESTOY 1")
        console.log(resultado.detail.response)
        console.log("ACA ESTOY 2")
        console.log("5. Proceso los resultados")
        this.datosincorrectos = false
        this.logado = true
        console.log(this.logado)
        var msg=resultado.detail.response
        console.log(msg.id)
        this.id=msg.id
      }
      logar() {
        console.log("1. El usuario ha pulsado el botón")
        this.datosincorrectos = false
        this.formData = {email: this.email, password: this.password}
        console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición enviada")

      }

      mostrarErrorLogin(error) {
        console.log("4. Llega el error")
        console.log(error)

      //  console.log(error.detail.request.__dataPending.response)

        var msg=error.detail.request.__dataPending.response.msg
        console.log(msg)


        if (msg=='Algunos de los datos ingresados no son correctos')
        {
          console.log("ENTRÓ ACA")
          this.datosincorrectos = true
        } else {
          console.log("ENTRÓ en el else")
        }

        this.logado = false
        console.log(this.logado)

      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)

        console.log("5. Proceso los resultados")
        this.logado = false
        this.id=""
      }
      deslogar() {
        console.log("1. El usuario ha pulsado el botón")

        this.formData = {email: this.email}
        console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerLogout.generateRequest()
        console.log("3. Petición enviada")
      }
      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        console.log(this.logado)
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
