<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="row">
         <h1 class="col-6">[[id]]</h1>
         <h2 class="col-6">[[nombre]]</h2>
     </div>

    <iron-ajax auto
      id="getUsuarios"
      url="http://localhost:3000/api-uruguay/v1/users/{{id}}"
      handle-as="json"
      on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.id = data.detail.response[0].id;
        this.nombre = data.detail.response[0].first_name;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
