<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

      <iron-ajax id="hacerLogout"
                 url="http://localhost:3000/api-uruguay/v1/logout"
                 method="POST"
                 body={{formData}}
                 content-type="application/json"
                 handle-as="json"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarError">
      </iron-ajax>

      <div class="row">
        <input type="email" value={{email::input}} />
        <button on-click="deslogar">Logout</button>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)

        console.log("5. Proceso los resultados")
      //  this.logado = true
      }
      deslogar() {
        console.log("1. El usuario ha pulsado el botón")

        this.formData = {email: this.email}
        console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerLogout.generateRequest()
        console.log("3. Petición enviada")
      }
      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
    //    this.logado = false
        console.log(this.logado)
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
