<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="my-view3">
  <template>

    <app-location route="{{route}}"></app-location>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style include="shared-styles">

          :host {
            display: block;
            font-family: Helvetica;
          }
          .container{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 100px 0;
            padding-top: 10px;
          }
          .container h4{
            font-family: Helvetica;
            color: white;
          }
          .container .table .thead-dark th{
            background:  #0672ca !important
          }
          .container .table-bordered th{
            background: white
          }
          .container .table-bordered td{
            background: white
          }
    </style>

    <iron-ajax auto
        id="getmovimientos"
        url="http://localhost:3001/api-uruguay/v1/users/{{id}}/cuentas/{{idCuenta}}"
        handle-as="json"
        on-response="showData">
    </iron-ajax>

    <div class="card">
      <h1>Movimientos</h1>

      <div class="container">
      <!--      <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
            <h4 class="col-md-5">Email: {{email}}</h2>
      -->
           <table class="table table-bordered">
           <thead class="thead-dark">
             <tr>
               <th scope="col">Fecha</th>
               <th scope="col">Importe</th>
               <th scope="col">Asunto</th>
             </tr>
           </thead>
           <template is="dom-repeat" id="movimientos" items="{{movimientos}}">
               <tr>
                   <th scope="row">{{item.fecha}}</th>
                   <td>{{item.importe}}</td>
                   <td>{{item.asunto}}</td>
             </tr>
           </template>
          </table>
        </div>

    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
          id: {
            type: Number,
            value: sessionStorage.getItem("idUsuario")
          },
          idCuenta:{
             type:Number,
             value: sessionStorage.getItem("idCuenta")
           },
           first_name: {
             type: String
           },
           last_name: {
             type: String
           },
           email: {
             type: String
           },
           movimientos: {
             type: Array
           },
           isvar2:{
             type:Boolean,
             value:true
           },
           isvar5:{
             type:Boolean
           }
        };

    }

    showData(data) {
      console.log("showData");

     var msg=data.detail.response
     console.log(msg.movimientos)
//      console.log(msg[0].idCuenta)

//      this.idCuenta=msg[0].idCuenta
      console.log(this.idCuenta)

      this.movimientos = msg.movimientos

  //    console.log(this.cuentas)
    }
  }
    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
