<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="my-view2">
  <template>

    <app-location route="{{route}}"></app-location>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style include="shared-styles">

          :host {
            display: block;
            font-family: Helvetica;
          }
          .container{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 100px 0;
            padding-top: 10px;
          }
          .container h4{
            font-family: Helvetica;
            color: white;
          }
          .container .table .thead-dark th{
            background:  #0672ca !important
          }
          .container .table-bordered th{
            background: white
          }
          .container .table-bordered td{
            background: white
          }
    </style>

    <iron-ajax auto
        id="getcuentas"
        url="http://localhost:3001/api-uruguay/v1/users/{{id}}/cuentas"
        handle-as="json"
        on-response="showData">
    </iron-ajax>

    <iron-ajax id="hacerdebito"
               url="http://localhost:3001/api-uruguay/v1/users/{{id}}/cuentas/{{idCuentaOrigen}}"
               method="PUT"
               body={{formData1}}
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoDebito"
               on-error="mostrarErrorDebito">
    </iron-ajax>

    <iron-ajax id="hacercredito"
               url="http://localhost:3001/api-uruguay/v1/users/{{id}}/cuentas/{{idCuentaDestino}}"
               method="PUT"
               body={{formData2}}
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoCredito"
               on-error="mostrarErrorCredito">
    </iron-ajax>

    <div class="card">
      <h1>Cuentas</h1>

      <div class="container">
      <!--      <h4 class="col-md-5">Usuario: {{first_name}} {{last_name}}</h2>
            <h4 class="col-md-5">Email: {{email}}</h2>
      -->
           <table class="table table-bordered">
           <thead class="thead-dark">
             <tr>
               <th scope="col">ID Cuenta</i></th>
              <th scope="col">IBAN</th>
               <th scope="col">Saldo</th>
               <th scope="col"></th>
             </tr>
           </thead>
           <template is="dom-repeat" id="accountUser" items="{{cuentas}}">
               <tr>
                   <th scope="row">{{item.idCuenta}}</th>
                   <td>{{item.iban}}</td>
                   <td>{{item.saldo}}</td>
                   <td><button  class="btn btn-primary" on-click="panelmovimientos" id="{{item.idCuenta}}">Ver Movimientos</button>
                   <button  class="btn btn-primary" on-click="habilitartransferencia" id="{{item.idCuenta}}">Transferencia</button></td>
             </tr>
           </template>
          </table>
            <div hidden$="{{!transferir}}">
                <input type="idCuentaDestino" value={{idCuentaDestino::input}} placeholder="Id Cuenta Destino"/>
                <input type="importe" value={{importe::input}} placeholder="Importe"/>
                <input type="asunto" value={{asunto::input}} placeholder="Asunto"/>
                <br>
                <button on-click="hacertransferencia">Transferir</button>
            </div>
        </div>

    </div>



  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          id: {
            type: Number,
            value: sessionStorage.getItem("idUsuario")
          },
          idCuenta: {
            type: Number
          },
          idCuentaOrigen: {
            type: Number
          },
          idCuentaDestino: {
            type: Number
          },
          asunto: {
            type: String
          },
          importe: {
            type: Number
          },
           first_name: {
             type: String
           },
           last_name: {
             type: String
           },
           email: {
             type: String
           },
           cuentas: {
             type: Array
           },
           transferir:{
             type:Boolean,
             value:false
           },
           isvar2:{
             type:Boolean,
             value:true
           },
           isvar5:{
             type:Boolean
           }
        };
      }

        showData(data) {
          console.log("showData");

          var msg=data.detail.response
          console.log(msg[0])
          console.log(msg[0].idCuenta)

          this.idCuenta=msg[0].idCuenta
          console.log(this.idCuenta)

          this.cuentas = msg

          console.log(this.cuentas)
        }

        panelmovimientos(boton) {
            console.log("buscar aca")
            console.log(boton)
            console.log(boton.path[0].id)
            sessionStorage.setItem("idCuenta", boton.path[0].id);
            console.log("a ver que graba");
            console.log(this.cuentas);
            sessionStorage.setItem("cuentas", this.cuentas);
            this.set('route.path', '/view3')
        }

        habilitartransferencia(tran) {
            this.transferir = true
            this.idCuentaOrigen = tran.path[0].id
            console.log("habilitar transferencia entró")
            console.log(tran)
            console.log(this.transferir)
            console.log(this.idCuentaOrigen)
        }

        hacertransferencia(tran) {

            this.idCuentaDestino = this.idCuentaDestino
            console.log("hacer transferencia entró")

            console.log(tran)
            console.log(this.transferir)
            console.log("cuentaorigen")
            console.log(this.idCuentaOrigen)
            console.log("cuentadestino")
            console.log(this.idCuentaDestino)

            var importedebitar = this.importe * (-1)

            console.log(importedebitar)

            this.formData1 = {importe: importedebitar, asunto: this.asunto}
            this.$.hacerdebito.generateRequest()

            var importeacreditar = +this.importe

            console.log("va a hacer el crédito")
            this.formData2 = {importe: importeacreditar, asunto: this.asunto}
            console.log(this.formData2)
            this.$.hacercredito.generateRequest()
        }

        mostrarResultadoDebito(data){}

        mostrarErrorDebito(data){}

        mostrarResultadoCredito(data){}

        mostrarErrorCredito(data){}

/*
hacerAlta() {
  console.log("1. El usuario ha pulsado el botón")
  this.usuarioexiste = false
  this.dato_vacio = false
  // el id?
  //{"first_name": "Josito", "last_name": "Skally","email": "jskally0@free.fr","password": "Dh0zafmO"}
  if (this.id == null ||this.first_name == null || this.last_name == null || this.email == null || this.password == null)
  {
    console.log("entro al ifffffff")
    this.dato_vacio = true
    console.log(this.dato_vacio)
  }
  else {
    this.formData = {first_name: this.first_name, last_name: this.last_name, email: this.email, password: this.password}
    console.log(this.formData);

  console.log("2. Voy a enviar la petición")
  this.$.hacerAlta.generateRequest()
  console.log("3. Petición enviada")
  }
}
*/




      }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
