<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">


<dom-module id="my-view4">
  <template>

    <app-location route="{{route}}"></app-location>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <iron-ajax id="hacerAlta"
               url="http://localhost:3000/api-uruguay/v1/users/{{id}}"
               method="POST"
               body={{formData}}
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoAlta"
               on-error="mostrarErrorAlta">
    </iron-ajax>

    <div class="card">
<!--      <span hidden$="{{!mostrarini}}">
          <div class="circle">[[iniciales]]</div>
            <br hidden$="{{!mostrarini}}">
      </span>

      <span hidden$="{{!mostrarfoto}}">
          <div class="circle"><img src=[[foto]]></div>
      </span>

{"first_name": "Josito", "last_name": "Skally","email": "jskally0@free.fr","password": "Dh0zafmO"}
-->
      <h1>Alta de Usuario</h1>

      <input type="id" value={{id::input}} placeholder="Id Usuario"/>
      <br>
      <input type="first_name" value={{first_name::input}} placeholder="Primer Nombre"/>
      <br>
      <input type="last_name" value={{last_name::input}} placeholder="Primer Apellido"/>
      <br>
      <input type="email" value={{email::input}} placeholder="email"/>
      <br>
      <input type="password" value={{password::input}} placeholder="password"/>
      <br>
      <br>
      <button on-click="hacerAlta">Alta</button>
      <br>
      <br>
      <div hidden$="{{!usuarioexiste}}" mensajes>Error: Usuario ya existe.</div>
      <div hidden$="{{!dato_vacio}}" mensajes>Error: Todos los datos son obligatorios.</div>
      <div hidden$="{{!alta_ok}}" mensajes>Usuario dado de alta correctamente!.</div>
<!--
      <h1 hidden$="{{!logado}}">Konnichiwa!!</h1>

      <p hidden$="{{!logado}}">Usuario: [[id]]</p>
      <p hidden$="{{!logado}}">Nombre: [[nombre]]</p>
      <p hidden$="{{!logado}}">Apellido: [[apellido]]</p>
      <button hidden$="{{!logado}}" on-click="vercuentas">Cuentas</button>
-->
    </div>
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }

      static get properties() {
        return {
          id: {
            type: Number,
          },
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          usuarioexiste: {
            type: Boolean,
            value: false
          },
          dato_vacio: {
            type: Boolean,
            value: false
          },
          alta_ok: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoAlta(resultado) {
        console.log("4. Llegaron los resultados")
        console.log("ACA ESTOY 1")
        console.log(resultado.detail.response)
        console.log("ACA ESTOY 2")
        console.log("5. Proceso los resultados")
        this.alta_ok = true
/*        this.logado = true
        console.log(this.logado)
        var msg=resultado.detail.response
        console.log(msg.id)
        this.iniciales=msg.first_name.charAt(0)+msg.last_name.charAt(0)
        this.id=msg.id
        this.nombre=msg.first_name
        this.apellido=msg.last_name
        if(msg.foto_perfil) {
          this.foto=msg.foto_perfil
          this.mostrarfoto = true
          this.mostrarini = false
        } else{
          this.mostrarfoto = false
          this.mostrarini = true
        }

        sessionStorage.setItem("datos", JSON.stringify(msg));
        sessionStorage.setItem("idUsuario", msg.id);
*/
      }

      hacerAlta() {
        console.log("1. El usuario ha pulsado el botón")
        this.usuarioexiste = false
        this.dato_vacio = false
        // el id?
        //{"first_name": "Josito", "last_name": "Skally","email": "jskally0@free.fr","password": "Dh0zafmO"}
        if (this.id == null ||this.first_name == null || this.last_name == null || this.email == null || this.password == null)
        {
          console.log("entro al ifffffff")
          this.dato_vacio = true
          console.log(this.dato_vacio)
        }
        else {
          this.formData = {first_name: this.first_name, last_name: this.last_name, email: this.email, password: this.password}
          console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerAlta.generateRequest()
        console.log("3. Petición enviada")
        }
      }

      mostrarErrorAlta(error) {
        console.log("4. Llega el error")
        this.usuarioexiste = true
        console.log(error)
        console.log(this.logado)
      }

    }

    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
