<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">


<dom-module id="my-view1">
  <template>

    <app-location route="{{route}}"></app-location>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/api-uruguay/v1/login"
               method="POST"
               body={{formData}}
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarErrorLogin">
    </iron-ajax>

    <iron-ajax id="hacerLogout"
               url="http://localhost:3000/api-uruguay/v1/logout"
               method="POST"
               body={{formData}}
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoLogout"
               on-error="mostrarErrorLogout">
    </iron-ajax>


    <div class="card">
      <span hidden$="{{!mostrarini}}">
          <div class="circle">[[iniciales]]</div>
            <br hidden$="{{!mostrarini}}">
      </span>

      <span hidden$="{{!mostrarfoto}}">
          <div class="circle"><img src=[[foto]]></div>
      </span>

      <input hidden$="{{logado}}" type="email" value={{email::input}} placeholder="email"/>
      <input hidden$="{{logado}}" type="password" value={{password::input}} placeholder="password"/>
      <button hidden$="{{logado}}" on-click="logar">Login</button>
      <br>
      <div hidden$="{{!datosincorrectos}}" mensajes>Alguno de los datos ingresados es incorrecto.</div>
  <span>
      <button hidden$="{{!logado}}" on-click="deslogar">Logout</button>
  </span>

      <h1 hidden$="{{!logado}}">Konnichiwa!!</h1>

      <p hidden$="{{!logado}}">Usuario: [[id]]</p>
      <p hidden$="{{!logado}}">Nombre: [[nombre]]</p>
      <p hidden$="{{!logado}}">Apellido: [[apellido]]</p>
      <button hidden$="{{!logado}}" on-click="vercuentas">Cuentas</button>

    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          datosincorrectos: {
            type: Boolean,
            value: false
          },
          foto: {
            type: String
          },
          mostrarfoto: {
            type: Boolean,
            value: false
          },
          mostrarini: {
            type: Boolean,
            value: false
          },
          iniciales: {
            type: String,
          },
          id: {
            type: String,
          },
          nombre: {
            type: String,
          },
          apellido: {
            type: String,
          }
        };
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log("ACA ESTOY 1")
        console.log(resultado.detail.response)
        console.log("ACA ESTOY 2")
        console.log("5. Proceso los resultados")
        this.datosincorrectos = false
        this.logado = true
        console.log(this.logado)
        var msg=resultado.detail.response
        console.log(msg.id)
        this.iniciales=msg.first_name.charAt(0)+msg.last_name.charAt(0)
        this.id=msg.id
        this.nombre=msg.first_name
        this.apellido=msg.last_name
        if(msg.foto_perfil) {
          this.foto=msg.foto_perfil
          this.mostrarfoto = true
          this.mostrarini = false
        } else{
          this.mostrarfoto = false
          this.mostrarini = true
        }

        sessionStorage.setItem("datos", JSON.stringify(msg));
        sessionStorage.setItem("idUsuario", msg.id);

      }
      logar() {
        console.log("1. El usuario ha pulsado el botón")
        this.datosincorrectos = false
        this.formData = {email: this.email, password: this.password}
        console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición enviada")

      }
      vercuentas() {
          this.set('route.path', '/view2');
      }

      mostrarErrorLogin(error) {
        console.log("4. Llega el error")
        console.log(error)

      //  console.log(error.detail.request.__dataPending.response)

        var msg=error.detail.request.__dataPending.response.msg
        console.log(msg)


        if (msg=='Algunos de los datos ingresados no son correctos')
        {
          console.log("ENTRÓ ACA")
          this.datosincorrectos = true
        } else {
          console.log("ENTRÓ en el else")
        }

        this.logado = false
        console.log(this.logado)

      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)

        console.log("5. Proceso los resultados")
        this.logado = false
        this.id=""
        this.mostrarfoto = false
        this.mostrarini = false
      }
      deslogar() {
        console.log("1. El usuario ha pulsado el botón")

        this.formData = {email: this.email}
        console.log(this.formData);

        console.log("2. Voy a enviar la petición")
        this.$.hacerLogout.generateRequest()
        console.log("3. Petición enviada")
      }
      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        console.log(this.logado)
      }

    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
